body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgba(201, 245, 203, 0.842);
}

h1 {
    margin-top: 120px;
    font-size: 4rem;
    text-align: center;

}

h2{
    margin-top: 120px;
    font-size: 4rem;
}

button {
    margin-top: 50px;
    padding: 50px 100px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}